<!DOCTYPE html>
<html ng-app="popup" ng-controller="PopupCtrl">
<head>
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-route.min.js"></script>

	<script type="text/javascript" src="../class/Storage.js"></script>
	<script type="text/javascript" src="../class/Followers.js"></script>

	<script type="text/javascript" src="angular.js"></script>
	<link rel="stylesheet" type="text/css" href="popup.css">
</head>
<body>
	<div id="menu-top">
		<input id="contentFilter" ng-model="contentFilter" type="text" placeholder="Filter" autofocus>
		<div id="account">
			<div class="account" ng-show="login">
				<span class="login">{{login}}</span> |
				<a class="logout" ng-click="logout()">Logout</a>
			</div>
			<div class="account" ng-hide="login">
				<a href="#/Login" class="loginButton">Login</a>
			</div>
		</div>
	</div>
	<div id="menu-left">
		<a class="button" href="#/Followed" title="Followed" ng-class="{active:isActive('/Followed')}">
			<img src="../img/heart.png">
		</a>
		<a class="button" href="#/AllStreams" title="All streams" ng-class="{active:isActive('/AllStreams')}">
			<img src="../img/h.png">
		</a>
		<a class="button" href="#/Settings" ng-class="{active:isActive('/Settings')}" title="Settings">
			<img src="../img/options.png">
		</a>
		<a class="button" title="Refresh" ng-click="updateBtn($event)">
			<img src="../img/update.png" id="updateBtn-img">
		</a>
	</div>
	<div id="content">
		<div class="waiter" ng-init="waiting=false" ng-show="waiting"></div>
		<div ng-view></div>
	</div>
</body>
</html>
